@font-face {
  font-family: 'Shrikhand';
  src: url("../fonts/Shrikhand-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'RobotoRegular';
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'RobotoThin';
  src: url("../fonts/Roboto-Thin.ttf") format("truetype");
}

@font-face {
  font-family: 'RobotoLight';
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'RobotoBold';
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'RobotoMedium';
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}

@media screen and (min-width: 320px) {
  #searchForm-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 8rem;
    background-color: #ececec;
    margin-top: 5%;
    -webkit-box-shadow: inset 0px 9px 8px -5px #c6c6c6;
    box-shadow: inset 0px 9px 8px -5px #c6c6c6;
  }
  #searchForm-input__iconBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 35%;
  }
  #searchForm-input__textBlock {
    width: 55%;
    padding-left: 3rem;
  }
  i.fas.fa-map-marker-alt {
    color: #474747;
    font-size: 3rem;
  }
  ::-webkit-input-placeholder {
    color: #474747;
    font-size: 2.5rem;
  }
  :-ms-input-placeholder {
    color: #474747;
    font-size: 2.5rem;
  }
  ::-ms-input-placeholder {
    color: #474747;
    font-size: 2.5rem;
  }
  ::placeholder {
    color: #474747;
    font-size: 2.5rem;
  }
  input {
    margin-top: 0.8rem;
    height: 100%;
    background-color: transparent;
    border-style: none;
  }
  input:hover::-webkit-input-placeholder {
    color: lightgrey;
  }
  input:hover:-ms-input-placeholder {
    color: lightgrey;
  }
  input:hover::-ms-input-placeholder {
    color: lightgrey;
  }
  input:hover::placeholder {
    color: lightgrey;
  }
  input:focus {
    outline: none;
  }
  #searchForm-titles-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    background-color: #F9F9F9;
  }
  #searchForm-titles-button__titleBlock {
    text-align: center;
    width: 75%;
    margin: 5% 0 -2% 0;
  }
  #searchForm-titles-button__subtitleBlock {
    text-align: center;
    width: 92%;
    margin-bottom: 8rem;
  }
  #searchForm-titles-button__buttonBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -5%;
    width: 65%;
    height: 8rem;
    margin-bottom: 10rem;
  }
  #searchForm-titles-button__buttonBlock--button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
    color: #FFFFFF;
    font-size: 2.8rem;
    font-family: 'RobotoRegular';
    font-weight: 200;
    border-radius: 60px;
    -webkit-box-shadow: 3px 3px 10px #939393;
            box-shadow: 3px 3px 10px #939393;
    background: #FF79DB;
    background: -webkit-gradient(linear, left top, right bottom, from(#FF79DB), to(#9456DC));
    background: linear-gradient(to bottom right, #FF79DB, #9456DC);
  }
}

@media screen and (min-width: 1025px) {
  #searchForm-input {
    width: 50%;
    height: 2rem;
    margin-top: 8%;
    margin-bottom: 8%;
    border-radius: 20px;
    border: solid 3px #99E2D0;
    background-color: transparent;
    -webkit-box-shadow: 2px 2px 5px #adadad;
            box-shadow: 2px 2px 5px #adadad;
  }
  #searchForm-input__iconBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 20px;
    width: 10%;
  }
  #searchForm-input__textBlock {
    width: 30%;
    padding-left: 0.2rem;
  }
  ::-webkit-input-placeholder {
    color: #474747;
    font-size: 1rem;
  }
  :-ms-input-placeholder {
    color: #474747;
    font-size: 1rem;
  }
  ::-ms-input-placeholder {
    color: #474747;
    font-size: 1rem;
  }
  ::placeholder {
    color: #474747;
    font-size: 1rem;
  }
  i.fas.fa-map-marker-alt {
    color: #474747;
    font-size: 1rem;
  }
  input {
    margin-top: 0.1rem;
  }
  #searchForm-titles-button {
    -webkit-box-shadow: 2px 2px 5px #adadad;
            box-shadow: 2px 2px 5px #adadad;
    border-radius: 20px;
  }
  #searchForm-titles-button__subtitleBlock {
    margin-bottom: 2rem;
  }
  #searchForm-titles-button__buttonBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -5%;
    width: 50%;
    height: 3rem;
    margin-bottom: 2rem;
  }
  #searchForm-titles-button__buttonBlock--button {
    font-size: 1rem;
  }
}

#header__logoBlock {
  width: 80%;
  margin: auto;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header__logoBlock--logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header__logoBlock--logo img {
  width: 350px;
}

#header__logoBlock-menus {
  width: 90%;
  margin: auto;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#header__logoBlock-menus--logo {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header__logoBlock-menus--returnIcon {
  width: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-start;
  -ms-flex-item-align: center;
      align-self: center;
}

i.fas.fa-arrow-left {
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-start;
}

#image__header-menus {
  width: 100%;
  margin-top: 40px;
}

#image__header-menus img {
  width: 100%;
}

@media screen and (min-width: 1025px) {
  #header__logoBlock {
    width: 30%;
    margin: 3rem 0 0 3rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #header__logoBlock--logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 50px;
  }
  #image__header-menus {
    width: 45%;
    margin-top: 70px;
    float: right;
  }
  #image__header-menus img {
    width: 450px;
    border-radius: 20px;
    border: 4px solid #99E2D0;
    -webkit-box-shadow: 2px 2px 5px #939393;
            box-shadow: 2px 2px 5px #939393;
  }
  i.fas.fa-arrow-left {
    font-size: 1.5rem;
  }
}

footer {
  background-color: #2d2d2d;
}

#footer__logoBlock {
  width: 85%;
  margin: auto;
  padding-top: 5%;
}

#footer__logoBlock img {
  width: 250px;
}

#footer__globalText {
  width: 85%;
  margin: auto;
  color: #FFFFFF;
  padding-bottom: 15%;
}

#footer__textBlock1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: -5%;
}

#footer__textBlock1--ustensilsIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 2.2rem;
  margin-right: 3%;
  padding-bottom: 7px;
}

#footer__textBlock2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: -5%;
}

#footer__textBlock2--partnershipIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 1.8rem;
  margin-right: 3%;
  padding-bottom: 10px;
}

#footer__legalNotice {
  margin-bottom: -45px;
}

@media screen and (min-width: 1025px) {
  #footer__logoBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #footer__logoBlock img {
    width: 150px;
  }
  #footer__globalText {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 5%;
  }
  #footer__textBlock1 {
    margin-bottom: 0%;
  }
  #footer__textBlock1--ustensilsIcon {
    font-size: 1.8rem;
    margin-right: 5%;
    padding-bottom: 15px;
  }
  #footer__textBlock2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 0%;
  }
  #footer__textBlock2--partnershipIcon {
    font-size: 1.8rem;
    margin-right: 5%;
    padding-bottom: 15px;
  }
  #footer__textBlock3 {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #footer__contact {
    margin-left: 5rem;
  }
}

#order__buttonBlock {
  width: 50%;
  margin: auto;
  margin-top: 130px;
  height: 8rem;
}

@media screen and (min-width: 1025px) {
  #order__buttonBlock {
    width: 720px;
    height: 3rem;
    margin-top: 5%;
    position: relative;
    top: -38rem;
    left: -2%;
  }
}

#order__buttonBlock--button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  color: #FFFFFF;
  font-size: 2.8rem;
  font-family: 'RobotoRegular';
  font-weight: 200;
  border-radius: 60px;
  -webkit-box-shadow: 3px 3px 10px #939393;
          box-shadow: 3px 3px 10px #939393;
  background: #FF79DB;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DB), to(#9456DC));
  background: linear-gradient(to bottom right, #FF79DB, #9456DC);
}

@media screen and (min-width: 1025px) {
  #order__buttonBlock--button {
    font-size: 1.1rem;
    -webkit-box-shadow: 2px 2px 5px #939393;
            box-shadow: 2px 2px 5px #939393;
    width: 25%;
  }
}

#order__buttonBlock2 {
  width: 50%;
  margin: auto;
  margin-top: 130px;
  height: 8rem;
}

@media screen and (min-width: 1025px) {
  #order__buttonBlock2 {
    width: 720px;
    height: 3rem;
    margin-top: 5%;
    position: relative;
    top: -44.4rem;
    left: -2%;
  }
}

#order__buttonBlock2--button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  color: #FFFFFF;
  font-size: 2.8rem;
  font-family: 'RobotoRegular';
  font-weight: 200;
  border-radius: 60px;
  -webkit-box-shadow: 3px 3px 10px #939393;
          box-shadow: 3px 3px 10px #939393;
  background: #FF79DB;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DB), to(#9456DC));
  background: linear-gradient(to bottom right, #FF79DB, #9456DC);
}

@media screen and (min-width: 1025px) {
  #order__buttonBlock2--button {
    font-size: 1.1rem;
    -webkit-box-shadow: 2px 2px 5px #939393;
            box-shadow: 2px 2px 5px #939393;
    width: 25%;
  }
}

.preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: black;
  opacity: 0.6;
  overflow: hidden;
  z-index: 3;
  -webkit-animation-name: loading;
  animation-name: loading;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 6px solid transparent;
  border-top-color: #9356DC;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 2s linear infinite;
}

.loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 6px solid transparent;
  border-top-color: #FF79DA;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

.loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 6px solid transparent;
  border-top-color: #99E2D0;
  -webkit-animation: spin 0.75s linear infinite;
  animation: spin 0.75s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loading {
  0% {
    height: 100%;
  }
  99% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}

@keyframes loading {
  0% {
    height: 100%;
  }
  99% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}

body,
html {
  max-width: 100%;
  margin: auto;
  font-family: 'RobotoLight';
}

main {
  width: 100%;
  margin: auto;
}

h1 {
  font-size: 4.5rem;
  font-family: 'RobotoMedium';
  font-weight: 500;
}

h2 {
  font-size: 4.1rem;
  font-weight: 500;
  font-family: 'RobotoMedium';
}

.h2-subtitle-index {
  font-size: 3rem;
  font-weight: 500;
  font-family: 'Robotolight';
}

.h2-menus {
  font-family: 'RobotoThin';
  text-transform: uppercase;
  font-size: 2.3rem;
}

h3 {
  font-size: 2.7rem;
  font-family: 'RobotoMedium';
  margin-bottom: -6%;
}

h4 {
  font-size: 2.4rem;
  font-family: 'RobotoMedium';
  font-weight: 100;
}

.h4-meal-details {
  font-family: 'RobotoThin';
  font-size: 2.3rem;
  margin-top: 60px;
}

h5 {
  font-size: 2.5rem;
  font-family: 'RobotoLight';
  font-weight: 100;
  margin-bottom: 0;
}

span {
  font-size: 2rem;
  font-family: 'RobotoThin';
}

p {
  font-size: 2.5rem;
  font-family: 'RobotoLight';
}

a {
  text-decoration: none;
  color: inherit;
}

#functioning__titleBlock {
  margin: 5em 0 4em 0;
}

#functioning__globalBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  width: 85%;
  margin-bottom: 20rem;
}

.functioning__entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10%;
  background-color: #F9F9F9;
  border-radius: 50px;
  margin: 1.5rem 0 1.5rem 0;
  -webkit-box-shadow: 2px 10px 18px #e0e0e0;
          box-shadow: 2px 10px 18px #e0e0e0;
}

.functioning__entry--numberBlock {
  background-color: #9356DC;
  width: 6%;
  height: 5%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -1.5rem;
}

.functioning__entry--numberBlock--number {
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  margin: 8% 8%;
}

.functioning__entry--iconBlock {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.functioning__entry--iconBlock--mobileIcon, .functioning__entry--iconBlock--listIcon, .functioning__entry--iconBlock--storeIcon {
  font-size: 3rem;
  color: #7a7a7a;
}

.functioning__entry--text {
  width: 80%;
}

.current .functioning__entry {
  background-color: rgba(147, 86, 220, 0.2);
}

.current .functioning__entry--iconBlock--storeIcon {
  color: #9356DC;
}

#restaurants__globalBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #F9F9F9;
  padding-bottom: 20%;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  margin-top: -135px;
  opacity: 0.99;
  border-radius: 0px;
}

#restaurants__titleBlock {
  margin: 5em 0 0 3em;
}

#restaurants__underBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  width: 85%;
}

.restaurants__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  height: 550px;
  -webkit-box-shadow: 6px 6px 10px #c6c6c6;
          box-shadow: 6px 6px 10px #c6c6c6;
  border-radius: 50px;
  margin-top: 100px;
}

.restaurants__cards img {
  width: 100%;
  border-radius: 50px;
}

.restaurants__cards--Tag {
  background-color: #99E2D0;
  color: #278870;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 40px;
  width: 200px;
  height: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurants__cards--Banner {
  background-color: #FFFFFF;
  width: 100%;
  height: 175px;
  margin-top: -20%;
  opacity: 0.99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  -webkit-box-shadow: 6px 6px 10px #c6c6c6;
          box-shadow: 6px 6px 10px #c6c6c6;
}

.restaurants__cards--Banner--text {
  width: 85%;
  margin-left: 5%;
}

.restaurants__cards--Banner--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  width: 15%;
  margin-bottom: 3%;
}

.heartIcon {
  font-size: 4rem;
  color: #F9F9F9;
  -webkit-text-stroke: 2px black;
  color: white;
}

.heartIcon:hover,
.heartIcon:active,
.heartIcon-menu:hover,
.heartIcon-menu:active {
  -webkit-animation: heart-anim 1s ease;
          animation: heart-anim 1s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  cursor: pointer;
}

@-webkit-keyframes heart-anim {
  from {
    color: linear-gradient(0deg, #9356DC 30%, #FF79DA 30%);
    -webkit-text-fill-color: transparent;
    background-size: 100%;
  }
  to {
    -webkit-text-stroke: initial;
    color: transparent;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
    background-image: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
    background-size: 100%;
    -webkit-background-clip: text;
  }
}

@keyframes heart-anim {
  from {
    color: linear-gradient(0deg, #9356DC 30%, #FF79DA 30%);
    -webkit-text-fill-color: transparent;
    background-size: 100%;
  }
  to {
    -webkit-text-stroke: initial;
    color: transparent;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
    background-image: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
    background-size: 100%;
    -webkit-background-clip: text;
  }
}

#menu__globalBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #F9F9F9;
  padding-bottom: 20%;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  margin-top: -135px;
  opacity: 0.99;
}

#menu__titleBlock {
  width: 90%;
  margin: auto;
  margin-top: -50px;
  margin-bottom: -150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu__titleBlock--text {
  font-family: 'Shrikhand';
  font-size: 7rem;
  width: 85%;
}

#menu__titleBlock--icon {
  font-size: 4rem;
  color: #F9F9F9;
  -webkit-text-stroke: 2px black;
  margin-right: 30px;
}

.title__mealStep {
  width: 90%;
  margin: auto;
  margin-top: 60px;
}

.mint-border {
  width: 9%;
  border-top: solid 6px #99E2D0;
  margin-left: 50px;
  margin-top: -20px;
}

.meal__entryGlobal {
  width: 90%;
  margin: auto;
}

@-webkit-keyframes apparition {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes apparition {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.check__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 0%;
  font-size: 5rem;
  height: auto;
  overflow: hidden;
  color: white;
  background-color: #99E2D0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-transition: width 0.4s linear;
  transition: width 0.4s linear;
  z-index: 2;
}

.meal__entry1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 30px;
  -webkit-box-shadow: 2px 10px 20px #e0e0e0;
          box-shadow: 2px 10px 20px #e0e0e0;
  margin-top: 40px;
  -webkit-animation: apparition 0.8s ease-out;
          animation: apparition 0.8s ease-out;
}

.meal__entry1--text, .meal__entry1--textLong, .meal__entry1--textCutted {
  width: 80%;
  margin-left: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.meal__entry1--price {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 55px;
}

.meal__entry1--textCutted {
  display: none;
}

.meal__entry1:hover .check__block {
  width: 30%;
  height: auto;
  font-size: 5rem;
  cursor: pointer;
  z-index: 2;
}

.meal__entry1:hover .check__block:active {
  background-color: #9356DC;
}

.meal__entry1:hover i.fas.fa-check-circle {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.meal__entry1:hover .meal__entry1--textLong {
  display: none;
}

.meal__entry1:hover .meal__entry1--textCutted {
  display: block;
}

.meal__entry2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 30px;
  -webkit-box-shadow: 2px 10px 20px #e0e0e0;
          box-shadow: 2px 10px 20px #e0e0e0;
  margin-top: 40px;
  -webkit-animation: apparition 1.2s ease-out;
          animation: apparition 1.2s ease-out;
}

.meal__entry2--text, .meal__entry2--textLong, .meal__entry2--textCutted {
  width: 80%;
  margin-left: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.meal__entry2--price {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 55px;
}

.meal__entry2--textCutted {
  display: none;
}

.meal__entry2:hover .check__block {
  width: 30%;
  height: auto;
  font-size: 5rem;
  cursor: pointer;
  z-index: 2;
}

.meal__entry2:hover .check__block:active {
  background-color: #9356DC;
}

.meal__entry2:hover i.fas.fa-check-circle {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.meal__entry2:hover .meal__entry2--textLong {
  display: none;
}

.meal__entry2:hover .meal__entry2--textCutted {
  display: block;
}

.meal__entry3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 30px;
  -webkit-box-shadow: 2px 10px 20px #e0e0e0;
          box-shadow: 2px 10px 20px #e0e0e0;
  margin-top: 40px;
  -webkit-animation: apparition 1.6s ease-out;
          animation: apparition 1.6s ease-out;
}

.meal__entry3--text, .meal__entry3--textLong, .meal__entry3--textCutted {
  width: 80%;
  margin-left: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.meal__entry3--price {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 55px;
}

.meal__entry3--textCutted {
  display: none;
}

.meal__entry3:hover .check__block {
  width: 30%;
  height: auto;
  font-size: 5rem;
  cursor: pointer;
  z-index: 2;
}

.meal__entry3:hover .check__block:active {
  background-color: #9356DC;
}

.meal__entry3:hover i.fas.fa-check-circle {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.meal__entry3:hover .meal__entry3--textLong {
  display: none;
}

.meal__entry3:hover .meal__entry3--textCutted {
  display: block;
}

.meal__entry4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 30px;
  -webkit-box-shadow: 2px 10px 20px #e0e0e0;
          box-shadow: 2px 10px 20px #e0e0e0;
  margin-top: 40px;
  -webkit-animation: apparition 2s ease-out;
          animation: apparition 2s ease-out;
}

.meal__entry4--text, .meal__entry4--textLong, .meal__entry4--textCutted {
  width: 80%;
  margin-left: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.meal__entry4--price {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 55px;
}

.meal__entry4--textCutted {
  display: none;
}

.meal__entry4:hover .check__block {
  width: 30%;
  height: auto;
  font-size: 5rem;
  cursor: pointer;
  z-index: 2;
}

.meal__entry4:hover .check__block:active {
  background-color: #9356DC;
}

.meal__entry4:hover i.fas.fa-check-circle {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.meal__entry4:hover .meal__entry4--textLong {
  display: none;
}

.meal__entry4:hover .meal__entry4--textCutted {
  display: block;
}

@media screen and (min-width: 1025px) {
  main,
  body {
    max-width: 1300px;
  }
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .h2-subtitle-index {
    font-size: 1.4rem;
  }
  .h2-menus {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  h4 {
    font-size: 1.3rem;
  }
  .h4-meal-details {
    font-size: 0.8rem;
    margin-top: 20px;
  }
  h5 {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  h6 {
    font-size: 2.5rem;
  }
  span {
    font-size: 2rem;
  }
  p {
    font-size: 1.2rem;
  }
  .page-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .wrapped-left {
    width: 45%;
    margin-left: 5rem;
  }
  aside {
    width: 40%;
    margin-left: 55%;
    margin-top: -20.3rem;
  }
  #functioning__globalBlock {
    margin-bottom: 10rem;
  }
  #functioning__titleBlock {
    margin: 0 0 0.5rem 0;
    text-align: center;
  }
  .functioning__entry {
    width: 100%;
    height: 4rem;
    margin: 0 0 1.8rem 0;
    -webkit-box-shadow: 2px 2px 5px #e0e0e0;
            box-shadow: 2px 2px 5px #e0e0e0;
  }
  .functioning__entry--numberBlock {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: -0.4rem;
  }
  .functioning__entry--numberBlock--number {
    font-size: 1.1rem;
    margin: 2px 2px;
  }
  .functioning__entry--iconBlock {
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .functioning__entry--iconBlock--mobileIcon, .functioning__entry--iconBlock--listIcon, .functioning__entry--iconBlock--storeIcon {
    font-size: 1.5rem;
  }
  #restaurants__globalBlock {
    padding-bottom: 5%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  #restaurants__titleBlock {
    margin: 2em 0 0 2.3em;
  }
  #restaurants__underBlock {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 95%;
  }
  .restaurants__cards {
    width: 260px;
    height: auto;
    -webkit-box-shadow: 2px 2px 5px #c6c6c6;
            box-shadow: 2px 2px 5px #c6c6c6;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 1rem;
  }
  .restaurants__cards img {
    border-radius: 20px;
  }
  .restaurants__cards--Tag {
    margin: 10px;
    width: 90px;
    height: 35px;
  }
  .restaurants__cards--Banner {
    height: 65px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    -webkit-box-shadow: 2px 2px 5px #c6c6c6;
            box-shadow: 2px 2px 5px #c6c6c6;
  }
  .restaurants__cards--Banner--text {
    width: 85%;
    margin-left: 0.6rem;
    margin-top: -0.9rem;
  }
  .restaurants__cards--Banner--icon {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 20%;
    margin-bottom: 3%;
  }
  i.fas.fa-heart {
    font-size: 1.5rem;
  }
  #menu__globalBlock {
    margin-top: 25rem;
    padding-bottom: 0%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  #menu__titleBlock {
    position: relative;
    top: -15rem;
    left: -8rem;
    width: 720px;
    height: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #menu__titleBlock--icon {
    color: white;
    margin-right: 40%;
    padding-bottom: 1.8rem;
  }
  .menus-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #title__mealStep {
    width: 20%;
    margin-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mint-border {
    width: 9%;
    border-top: solid 4px #99E2D0;
    margin-left: 21px;
    margin-top: -15px;
  }
  .wrapper-mealStep-meal {
    width: 33.3%;
    margin-top: 5rem;
  }
  .meal__entry1,
  .meal__entry2,
  .meal__entry3,
  .meal__entry4 {
    height: 4.5rem;
    margin-top: 30px;
    border-radius: 10px;
  }
  .meal__entry1--text,
  .meal__entry2--text,
  .meal__entry3--text,
  .meal__entry4--text {
    margin-left: 10px;
  }
  .meal__entry1--price,
  .meal__entry2--price,
  .meal__entry3--price,
  .meal__entry4--price {
    padding-top: 20px;
  }
  .check__block {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 3rem;
  }
  .meal__entry1:hover .check__block {
    font-size: 3rem;
  }
  .meal__entry2:hover .check__block {
    font-size: 3rem;
  }
  .meal__entry3:hover .check__block {
    font-size: 3rem;
  }
  .meal__entry4:hover .check__block {
    font-size: 3rem;
  }
}
/*# sourceMappingURL=style.css.map */