@mixin gradient-button-block {
    width: 50%;
    margin: auto;
    margin-top: 130px;
    height: 8rem;

    @media screen and (min-width: 1025px) {
        width: 720px;
        height: 3rem;
        margin-top: 5%;
        position: relative;
        top: -38rem;
        left: -2%;
    }
}

@mixin gradient-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: $white;
    font-size: 2.8rem;
    font-family: 'RobotoRegular';
    font-weight: 200;
    border-radius: 60px;
    box-shadow: 3px 3px 10px darken($lightgrey, 40%);
    background: #FF79DB;
    background: -webkit-linear-gradient(top left, #FF79DB, #9456DC);
    background: -moz-linear-gradient(top left, #FF79DB, #9456DC);
    background: linear-gradient(to bottom right, #FF79DB, #9456DC);

    @media screen and (min-width: 1025px) {
        font-size: 1.1rem;
        box-shadow: 2px 2px 5px darken($lightgrey, 40%);
        width: 25%;
    }
}

#order__buttonBlock {
    @include gradient-button-block;

    &--button {
        @include gradient-button;
    }
}

// Bouton La note enchantée (décalage sur desktop à cause des 4 entrées)

@mixin gradient-button-block2 {
    width: 50%;
    margin: auto;
    margin-top: 130px;
    height: 8rem;

    @media screen and (min-width: 1025px) {
        width: 720px;
        height: 3rem;
        margin-top: 5%;
        position: relative;
        top: -44.4rem;
        left: -2%;
    }
}

@mixin gradient-button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: $white;
    font-size: 2.8rem;
    font-family: 'RobotoRegular';
    font-weight: 200;
    border-radius: 60px;
    box-shadow: 3px 3px 10px darken($lightgrey, 40%);
    background: #FF79DB;
    background: -webkit-linear-gradient(top left, #FF79DB, #9456DC);
    background: -moz-linear-gradient(top left, #FF79DB, #9456DC);
    background: linear-gradient(to bottom right, #FF79DB, #9456DC);

    @media screen and (min-width: 1025px) {
        font-size: 1.1rem;
        box-shadow: 2px 2px 5px darken($lightgrey, 40%);
        width: 25%;
    }
}

#order__buttonBlock2 {
    @include gradient-button-block2;

    &--button {
        @include gradient-button2;
    }
}