@media screen and (min-width: 375px) {
    @font-face {
        font-family: 'Shrikhand';
        src: url('fonts/Shrikhand-Regular.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Roboto';
        src: url('fonts/Roboto-Regular.ttf') format('truetype');
    }

    @font-face {
        font-family: 'RobotoThin';
        src: url('fonts/Roboto-Thin.ttf') format('truetype');
    }

    @font-face {
        font-family: 'RobotoLight';
        src: url('fonts/Roboto-Light.ttf') format('truetype');
    }

    @font-face {
        font-family: 'RobotoBold';
        src: url('fonts/Roboto-Bold.ttf') format('truetype');
    }

    @font-face {
        font-family: 'RobotoMedium';
        src: url('fonts/Roboto-Medium.ttf') format('truetype');
    }

    body,
    html {
        max-width: 100%;
        margin: auto;
        font-family: 'RobotoLight';
    }

    main {
        width: 100%;
        margin: auto;
    }

    $white: #FFFFFF;
    $lightgrey: #F9F9F9;
    $pink : #FF79DA;
    $purple: #9356DC;
    $mintgreen: #99E2D0;

    h1 {
        font-size: 7vw;
        font-family: 'RobotoMedium';
        font-weight: 500;
    }

    h2 {
        font-size: 6.5vw;
        font-weight: 500;
        font-family: 'RobotoMedium';
    }

    h3 {
        font-size: 5vw;
        font-family: 'RobotoBold';
        margin-bottom: -8%;
    }

    h4 {
        font-size: 4.5vw;
        font-family: 'RobotoMedium';
    }

    h5 {
        font-size: 4.5vw;
        font-family: 'RobotoLight';
        font-weight: 100;
        margin-bottom: -6%;
    }

    span {
        font-size: 2.5vw;
        font-family: 'RobotoThin';
    }

    p {
        font-size: 4.7vw;
        font-family: 'RobotoLight';
    }

    a {
        text-decoration: none;
        color: black;
    }

    // <!-- Header : logo -->

    #header__logoBlock {
        width: 80%;
        margin: auto;
        margin-top: 5%;
        display: flex;
        justify-content: center;


        &--logo {
            display: flex;
            justify-content: center;


            img {
                width: 35rem;
            }
        }
    }

    // <!-- Recherche : formulaire -->

    #searchPart1 {
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: darken($lightgrey, 5%);
        margin-top: 5%;
        -webkit-box-shadow: inset 0px 9px 8px -5px darken($lightgrey, 20%);
        -moz-box-shadow: inset 0px 9px 8px -5px darken($lightgrey, 20%);
        box-shadow: inset 0px 9px 8px -5px darken($lightgrey, 20%);

        &__iconBlock {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 28%;
            font-size: 4.5vw;
            margin-right: 1rem;
            padding-bottom: 0.5rem;

            &--icon {
                width: 2.5rem;
            }
        }

        &__textBlock {
            width: 72%;
            padding: 2.5rem 0 0 2.5rem;
        }
    }

    ::placeholder {
        color: darken($lightgrey, 70%);
        font-size: 5vw;
    }

    input {
        background-color: transparent;
        border-style: none;
        height: 8rem;
        margin-left: 0.5rem;
    }

    #searchPart2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: $lightgrey;

        &__titleBlock {
            text-align: center;
            width: 75%;
            margin: 5% 0 -2% 0;
        }

        &__subtitleBlock {
            text-align: center;
            width: 89%;
            margin-bottom: 8rem;
        }

        &__buttonBlock {
            display: flex;
            align-items: center;
            margin-top: -5%;
            width: 65%;
            height: 8rem;
            margin-bottom: 10rem;

            &--button {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;
                color: $white;
                font-size: 4.7vw;
                font-family: 'Roboto';
                font-weight: 400;
                border-radius: 60px;
                box-shadow: 3px 3px 10px darken($lightgrey, 40%);
                background: #FF79DB;
                background: -webkit-linear-gradient(top left, #FF79DB, #9456DC);
                background: -moz-linear-gradient(top left, #FF79DB, #9456DC);
                background: linear-gradient(to bottom right, #FF79DB, #9456DC);
            }
        }
    }

    // <!-- Fonctionnement / functioning -->

    #functioning__titleBlock {
        margin: 5em 0 4em 3em;
    }

    #functioning__globalBlock {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 85%;
    }

    .functioning__entry {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 10%;
        background-color: $lightgrey;
        border-radius: 50px;
        margin: 1.5rem 0 1.5rem 0;
        box-shadow: 2px 10px 18px darken($lightgrey, 10%);

        &--numberBlock {
            background-color: $purple;
            width: 6%;
            height: 5%;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            margin-left: -1.5rem;

            &--number {
                color: $white;
                display: flex;
                font-size: 2rem;
                margin: 8% 8%;
            }
        }

        &--iconBlock {
            width: 20%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &--mobileIcon,
            &--listIcon,
            &--storeIcon {
                font-size: 3rem;
                color: darken($lightgrey, 50%);
            }
        }

        &--text {
            width: 80%;
        }
    }

    .current .functioning__entry {
        background-color: rgba(147, 86, 220, 0.2)
    }

    .current .functioning__entry--iconBlock--storeIcon {
        color: $purple;
    }

    // <!-- Restaurants -->

    #restaurants__globalBlock {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: $lightgrey;
        padding-bottom: 20%;
        margin-top: 15%;
    }

    #restaurants__titleBlock {
        margin: 5em 0 0 3em;
    }

    #restaurants__underBlock {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 85%;
        margin-top: -5%;
    }

    .restaurants__cards {
        display: flex;
        flex-direction: column;
        width: auto;
        height: 600px;
        box-shadow: 6px 5px 10px darken($lightgrey, 20%);
        border-radius: 50px;
        margin-top: 10%;

        img {
            width: 100%;
            border-radius: 50px;
        }

        &--Tag {
            background-color: $mintgreen;
            color: darken($mintgreen, 40%);
            display: flex;
            position: absolute;
            display: flex;
            flex-direction: row;
            align-self: flex-end;
            margin: 4%;
            width: 25%;
            height: 6%;
            justify-content: center;
            align-items: center;
        }

        &--Banner {
            background-color: $white;
            width: 100%;
            height: 35%;
            margin-top: -20%;
            opacity: 0.99;
            display: flex;
            flex-direction: row;
            border-bottom-left-radius: 50px;
            border-bottom-right-radius: 50px;

            &--text {
                width: 80%;
                margin-left: 5%;
            }

            &--icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20%;
                height: auto;
                margin-bottom: 3%;
            }

            &--icon--heartIcon {
                font-size: 4rem;

                &:hover {
                    color: $purple;
                    cursor: pointer;
                }
            }

        }
    }

    // <!-- Footer -->

    #footer {
        background-color: darken($lightgrey, 80%);
    }

    #footer__logoBlock {
        width: 85%;
        margin: auto;
        padding-top: 5%;

        img {
            width: 250px;
        }
    }

    #footer__globalText {
        width: 85%;
        margin: auto;
        color: $white;
        padding-bottom: 15%;
    }

    #footer__textBlock1 {
        display: flex;
        flex-direction: row;
        margin-bottom: -5%;

        &--ustensilsIcon {
            display: flex;
            align-self: flex-end;
            font-size: 2.5rem;
            margin-right: 3%;
            padding-top: 9%;
        }

    }

    #footer__textBlock2 {
        display: flex;
        flex-direction: row;
        margin-bottom: -5%;

        &--partnershipIcon {
            display: flex;
            align-self: flex-end;
            font-size: 1.8rem;
            margin-right: 3%;
            padding-top: 10%;
        }

    }



}