    // <!-- Footer -->

    footer {
        background-color: darken($lightgrey, 80%);
    }

    #footer__logoBlock {
        width: 85%;
        margin: auto;
        padding-top: 5%;

        img {
            width: 250px;
        }
    }

    #footer__globalText {
        width: 85%;
        margin: auto;
        color: $white;
        padding-bottom: 15%;
    }

    #footer__textBlock1 {
        display: flex;
        flex-direction: row;
        margin-bottom: -5%;

        &--ustensilsIcon {
            display: flex;
            align-self: flex-end;
            font-size: 2.2rem;
            margin-right: 3%;
            padding-bottom: 7px;
        }

    }

    #footer__textBlock2 {
        display: flex;
        flex-direction: row;
        margin-bottom: -5%;

        &--partnershipIcon {
            display: flex;
            align-self: flex-end;
            font-size: 1.8rem;
            margin-right: 3%;
            padding-bottom: 10px;
        }

    }

    #footer__legalNotice {
        margin-bottom: -45px;
    }

    // ********** RESPONSIVE -- Footer **************************

    @media screen and (min-width: 1025px) {

        #footer__logoBlock {
            display: flex;
            justify-content: center;

            img {
                width: 150px;
            }
        }

        #footer__globalText {
            width: 100%;
            display: flex;
            justify-content: center;
            padding-bottom: 5%;
        }

        #footer__textBlock1 {
            margin-bottom: 0%;

            &--ustensilsIcon {
                font-size: 2.2rem;
                margin-right: 5%;
                padding-bottom: 20px;
            }

        }

        #footer__textBlock2 {
            display: flex;
            flex-direction: row;
            margin-bottom: 0%;

            &--partnershipIcon {
                font-size: 1.8rem;
                margin-right: 5%;
                padding-bottom: 20px;
            }

        }

        #footer__textBlock3 {
            width: 20%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        #footer__contact {
            margin-left: 5rem;
        }



    }