  @media screen and (min-width: 320px) {

      // <!-- Recherche : formulaire -->

      #searchForm-input {
          display: flex;
          flex-direction: row;
          width: 100%;
          height: 8rem;
          background-color: darken($lightgrey, 5%);
          margin-top: 5%;
          -webkit-box-shadow: inset 0px 9px 8px -5px darken($lightgrey, 20%);
          -moz-box-shadow: inset 0px 9px 8px -5px darken($lightgrey, 20%);
          box-shadow: inset 0px 9px 8px -5px darken($lightgrey, 20%);

          &__iconBlock {
              display: flex;
              justify-content: flex-end;
              align-items: center;
              width: 35%;
          }

          &__textBlock {
              width: 55%;
              padding-left: 3rem;
          }
      }

      i.fas.fa-map-marker-alt {
          color: darken($lightgrey, 70%);
          font-size: 3rem;
      }

      ::placeholder {
          color: darken($lightgrey, 70%);
          font-size: 2.5rem;
      }

      input {
          margin-top: 0.8rem;
          height: 100%;
          background-color: transparent;
          border-style: none;
      }

      #searchForm-titles-button {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          background-color: $lightgrey;

          &__titleBlock {
              text-align: center;
              width: 75%;
              margin: 5% 0 -2% 0;
          }

          &__subtitleBlock {
              text-align: center;
              width: 92%;
              margin-bottom: 8rem;
          }

          &__buttonBlock {
              display: flex;
              align-items: center;
              margin-top: -5%;
              width: 65%;
              height: 8rem;
              margin-bottom: 10rem;

              &--button {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  height: 100%;
                  width: 100%;
                  color: $white;
                  font-size: 2.8rem;
                  font-family: 'RobotoRegular';
                  font-weight: 200;
                  border-radius: 60px;
                  box-shadow: 3px 3px 10px darken($lightgrey, 40%);
                  background: #FF79DB;
                  background: -webkit-linear-gradient(top left, #FF79DB, #9456DC);
                  background: -moz-linear-gradient(top left, #FF79DB, #9456DC);
                  background: linear-gradient(to bottom right, #FF79DB, #9456DC);
              }
          }
      }

  }

  // *********RESPONSIVE -- Page index : Formulaire et titres **************************

  @media screen and (min-width: 1025px) {

      #searchForm-input {
          width: 50%;
          height: 2rem;
          margin-top: 8%;
          margin-bottom: 8%;
          border-radius: 20px;
          border: solid 3px $mintgreen;
          background-color: transparent;
          box-shadow: 2px 2px 5px darken($lightgrey, 30%);


          &__iconBlock {
              display: flex;
              justify-content: flex-start;
              padding-left: 20px;
              width: 10%;
          }

          &__textBlock {
              width: 30%;
              padding-left: 0.2rem;
          }
      }

      ::placeholder {
          color: darken($lightgrey, 70%);
          font-size: 1rem;
      }

      i.fas.fa-map-marker-alt {
          color: darken($lightgrey, 70%);
          font-size: 1rem;
      }

      input {
          margin-top: 0.1rem;
      }

      #searchForm-titles-button {

          box-shadow: 2px 2px 5px darken($lightgrey, 30%);
          border-radius: 20px;

          &__subtitleBlock {
              margin-bottom: 2rem;
          }

          &__buttonBlock {
              display: flex;
              align-items: center;
              margin-top: -5%;
              width: 50%;
              height: 3rem;
              margin-bottom: 2rem;

              &--button {
                  font-size: 1rem;
              }
          }
      }

  }